<template>
    <p class="blurb">
        <slot></slot>
    </p>
</template>

<script>
    export default {
        name: "blurb"
    }
</script>

<style scoped>
    .blurb {
        @apply mt-2 text-gray-600 text-left pl-4;
    }
</style>