<template>
    <div class="container p-4 rounded-lg shadow-xl bg-white mx-auto w-11/12 mb-4">
        <div class="md:flex">
            <div class="md:flex-shrink-0">
                <img class="rounded-lg md:w-56" :src="require(`@/assets/${imgUrl}`)" :alt="imgAlt">
            </div>
            <div class="p-4 w-full">
                <div class="text-gray-900 font-bold text-xl mb-2 pl-4">{{ title }}</div>
                <div class="text-gray-600 font-bold text-sm -mt-2 mb-2 pl-4">{{ subTitle }}</div>
                <slot></slot>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "Section",
        props: {
            imgUrl: String,
            imgAlt: String,
            title: String,
            subTitle: String
        }
    }
</script>

<style scoped>

</style>