<template>
    <div class="container p-4 rounded-lg shadow-xl bg-white mx-auto w-2/3 mb-4">
        <div class="md:flex border border-black">
            <div class="md:flex-shrink-0">
                <img class="rounded-lg md:w-56" src="@/assets/logo.png" alt="Work Logo">
            </div>
            <div class="mt-4 md:mt-0 md:ml-6 flex-none">
                <div class="text-gray-900 font-bold text-xl mb-2 pl-4">Dr. Mark Rudolph, PhD</div>
                <p class="blurb">
                    Hello, and welcome to my site!
                </p>
                <p class="blurb"> Thing...</p>
                <p class="blurb"> Thing...</p>
                <p class="blurb"> Thing...</p>
            </div>
        </div>

    </div>
</template>

<script>
    export default {
        name: "WorkExperience"
    }
</script>

<style scoped>
    .blurb {
        @apply mt-2 text-gray-600 text-left pl-4;
    }
</style>