<template>
  <div id="app">
    <div class="container mx-auto pb-4 w-full">

      <h1 class="marker-font text-4xl p-4 text-center">Mark's Laboratory</h1>

      <Section
              img-url="images/mark_joanie_33.jpg"
              img-alt="Mark and his daughter"
              title="Dr. Mark Rudolph, PhD"
              sub-title="Mad Scientist Extraordinaire">
        <blurb>
          Welcome! This site serves as a sort of running <span class="italic">Curriculum Vitae</span>.
          Read on to learn a little more about me, as well as my current and past misadventures!
        </blurb>
        <blurb>
          <div class="text-gray-900 font-bold text-lq mb-2 pl-4">About Me:</div>
          Self-driven full stack Scala developer who has focused on designing, implementing, and maintaining big
          features at small companies. With 10+ years of experience using Linux systems, 5+ years of
          application development, and far too much education - I'm a firm believer that <span class="italic">if you can dodge a wrench, you
          can dodge a ball.</span>
        </blurb>
        <blurb>
          My favorite new hobby is roasting my own coffee beans, but I also enjoy drawing (digital and analog),
          music (you can never have too many synthesizers), and learning new technologies (this site is my first Vue.js app!).
        </blurb>
        <div class="flex mt-4 text-center">
          <a class="social-link" href="mailto:mark@sludg.com">
            <font-awesome-icon :icon="['fas', 'at']" class="fa-3x"/> <br>
            EMail
          </a>
          <a class="social-link" href="https://gitlab.com/alterationx10">
            <font-awesome-icon :icon="['fab', 'gitlab']" class="fa-3x text-orange-500"/><br>
            GitLab
          </a>
          <a class="social-link" href="https://twitter.com/alterationx10">
            <font-awesome-icon :icon="['fab', 'twitter-square']" class="fa-3x text-blue-400"/><br>
            Twitter
          </a>
          <a class="social-link" href="https://www.linkedin.com/in/alterationx10/">
            <font-awesome-icon :icon="['fab', 'linkedin']" class="fa-3x text-blue-600"/><br>
            LinkedIn
          </a>
        </div>
      </Section>

      <Section
              img-url="images/sludg_solid.png"
              img-alt="SLUDG, Inc."
              title="SLUDG, Inc"
              sub-title="Founder & CEO :: 2019-Present">
        <blurb>
          SLUDG, Inc. is an early stage start-up I'm working on.
        </blurb>
        <blurb>
          <span class="font-bold italic">If you're an investor,</span> we're building communications-based insight engines
          targeting the big data needs of the SMB space via Voice, TXT, Chat, and EMail channels.
        </blurb>
        <blurb>
          <span class="font-bold italic">If you're a potential customer,</span> we offer a support and analytics based CRM service, using AI and
          Machine Learning to help automate answering your customer support questions,
          automatically build knowledge bases off of customer and internal communications,
          as well as provide extra insight into your customer relationships.
        </blurb>
        <blurb>
          <span class="font-bold italic">If you still don't kow what the hell I'm talking about,</span> it's like when someone sends you a long email,
          and GMail has a little suggested button that says "Sounds Good" that auto-fills a reply
          --- except revolving around customer support cases.
        </blurb>
      </Section>
      <Section
              img-url="images/els.png"
              img-alt="Evil Lair Studios"
              title="Evil Lair Studios, LLC"
              sub-title="Chief Super Villain :: 2016-Present">
        <blurb>
          I own and operate Evil Lair Studios, LLC - a side project in the 'Maker' spirit. I design/build things with
          my trusty CO2 Laser Cutter, CNC Milling Machine, and 3D Printer.
          <a href="https://evillairstudios.com/">Buy Some Stuff!</a>
        </blurb>

        <blurb>
          I had originally started the company to self publish some game titles with based around super villains, hence the fun name.
          I decided to keep the theme, because what super villain doesn't love elaborate contraptions?! 😜
        </blurb>

      </Section>

      <Section
              img-url="images/bod.png"
              img-alt="Blue Orange Digital"
              title="Blue Orange Digital"
              sub-title="Senior Scala Engineer :: 2018-2019 (6 Mo)">
        <blurb>
          Blue Orange Digital is a an integrated full-stack data science agency. In my time there, I helped shore up the infrastructure
          of a multi-billion dollar hedge fund based in Stamford, Connecticut. I worked to troubleshoot, improve, and document their
          containerized Scala/Akka micro service platform backed by Kafka/MongoDB/MS SQLServer.
        </blurb>
      </Section>

      <Section
              img-url="images/vaspian_lg.png"
              img-alt="Vaspian"
              title="Vaspian"
              sub-title="Full Stack Developer :: 2014-2018">
        <blurb>
          Vaspian is a cloud-based VoIP provider located in Buffalo, NY. In my time there, I focused on
          building and automating platforms that provide advanced analytics and interfaces to our customers, as
          well as enhanced operational tools for internal service provisioning.
        </blurb>
        <blurb>
          Some of the larger projects I lead while working there include:
        </blurb>
        <blurb>
          <div class="text-gray-900 font-bold text-lq mb-2 pl-4">In-House Kubernetes</div>
          Designed, built, and maintain our own bare-metal Kubernetes cluster for application deployment.
          Building this all-in-one system allowed us to more reliably deliver our current applications/services
          to our customers, promptly roll out new features, as well as offer new services that were intractable to
          manage before.
        </blurb>
        <blurb>
          <div class="text-gray-900 font-bold text-lq mb-2 pl-4">Customer Facing Applications</div>
          Built and maintain our main customer facing portal, which provides custom reporting and real-time
          event integration with our core phone system. Using Scala and Akka, along with the Play Framework, we
          have been able to roll out stable, scalable services that are agile enough to grow with our customers.
        </blurb>
        <blurb>
          <div class="text-gray-900 font-bold text-lq mb-2 pl-4">Internal Tooling</div>
          Built and maintain middleware for maintenance/administration of systems built by our internal Network
          Engineers which allows our customer service/support staff to perform more technical tasks such as:
          <ul class="list-disc list-inside">
            <li>Dynamically provision custom services for our customers</li>
            <li>Manage and troubleshoot customer configurations</li>
            <li>Monitor customer service status in real time</li>
          </ul>
        </blurb>
      </Section>

      <Section
              img-url="images/sensorcon.png"
              img-alt="Sensorcon"
              title="Sensorcon"
              sub-title="Scientist/Software Developer :: 2011-2014">
        <blurb>
          Sensorcon is a developer and manufacturer of environmental sensors located in Williamsville, NY. In my
          time there, I was part of a small start-up team focusing on bringing products to market from the ground
          up. My primary focus was working with firmware engineers to write libraries and customer facing
          applications (iOS, Android, PC) that could talk to our sensor devices via Bluetooth.
        </blurb>
        <blurb>
          Relevant software projects include:
          <ul class="list-disc list-inside">
            <li>iOS/Android/Java API library development to integrate with our sensors</li>
            <li>iOS/Android App development</li>
            <li>Internal inventory system to improve our manufacturing capacity</li>
            <li>
              Automated QA testing protocols and procedures for sensor development, to enable technicians
            to batch process sensors in a reliable and repeatable manner
            </li>
            <li>
              Automated QC testing procedures for production, to promptly identify issues before they reached consumers
            </li>
          </ul>
        </blurb>
        <blurb>
          For posterity, I have a copy of the <a href="https://gitlab.com/alterationx10/Sensordrone">Sensordrone Library</a> and
          the main <a href="https://gitlab.com/alterationx10/Sensordrone-Control">Android App</a> up on my GitLab account. You can also check out the
          (archived) <a href="https://www.kickstarter.com/projects/453951341/sensordrone-the-6th-sense-of-your-smartphoneand-be">KickStarter</a> campaign we
          ran!
        </blurb>
      </Section>

      <Section
              img-url="images/ub.png"
              img-alt="University At Buffalo"
              title="University at Buffalo"
              sub-title="PhD Theoretical Chemistry :: 2006-2012">
        <blurb>
          I received my PhD at the State University of New York at Buffalo in Computational Chemistry under
          <a href="https://ja01.chem.buffalo.edu/">Dr. Jochen Autschbach</a>, focusing on optical activity of transition metal complexes.
        </blurb>
        <blurb >
          I managed to put out a couple papers during my time there. You can check out my
          <a href="https://scholar.google.com/citations?user=Xu1j0IMAAAAJ">Google Scholar</a> if you want to
          see some of the topics I've written about.
        </blurb>
      </Section>

    </div>

    <h1 class="marker-font p-4 text-center">Powered by <a href="https://www.sludg.com">SLUDG</a></h1>

  </div>
</template>

<script>

  import Section from "@/components/cards/Section";
  import Blurb from "@/components/cards/blurb";

  export default {
    name: 'app',
    components: {
      Blurb,
      Section
    }
  }
</script>

<style>

  @import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @apply bg-gray-500;
  }

  a {
    @apply font-extrabold;
  }

  li {
    @apply pl-4;
  }
  .marker-font {
    font-family: 'Permanent Marker', cursive;
  }

  .social-link {
    @apply w-1/4  mt-4;
  }

</style>
